* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #f8f3ec;
}

@font-face {
  font-family: "HeyWow";
  src: url("./Assets/Fonts/HeyWow-Regular.ttf");
}
@font-face {
  font-family: "HeyWow Medium";
  src: url("./Assets/Fonts/HeyWow-Medium.ttf");
}
@font-face {
  font-family: "HeyWow Bold";
  src: url("./Assets/Fonts/HeyWow-Bold.ttf");
}

@font-face {
  font-family: "HeyWow ExtraBold";
  src: url("./Assets/Fonts/HeyWow-ExtraBold.ttf");
}
